.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 45vh;
    width: 100%;
  }
  
  .title {
    font-size: 24 ;
    text-transform: uppercase;
    font-family: "Times New Roman", sans-serif;
  }
  
  @media (max-width: 900px) {
    .header {
      justify-content: space-evenly;
      height: 25vh;
    }
    .title {
      font-size: 6vw;
    }
  }
  
  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .search {
    width: 43%;
  }
  
  .select {
    width: 43%;
  }